<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hnist.yang.myapplication">

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="博客"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="登录界面"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="注册界面"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".ViewActivity"
            android:label="添加界面"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".ListViewActivity"
            android:label="信息显示页面" />
        <activity
            android:name=".item"
            android:label="详情页面" />
        <activity android:name=".Main2Activity" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".Main4Activity" />
        <activity android:name=".Main5Activity" />
        <activity android:name=".Main3Activity" />
        <activity
            android:name=".Main6Activity"
            android:label="个人中心"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".MycsdnActivity"
            android:label="我的博客"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".Search"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />
        <activity android:name=".Update"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />
    </application>

</manifest>